# Eclipse metadata e file di sistema
.metadata/
.metadata_old/
bin/
bin1/
*.class

# File di configurazione progetti Eclipse
.project
.classpath
.settings/
.factorypath

# Maven (File temporanei e compilati)
target/
*.jar
*.war
*.ear

# Altri file di sistema
.DS_Store
Thumbs.db
