# =========================
# IDE - Eclipse
# =========================
.metadata/
*.classpath
*.project
.settings/
.factorypath

# =========================
# Build - Maven
# =========================
**/target/
**/bin/
*.class

# =========================
# Environment
# =========================
.env
*.env

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IntelliJ / VSCode misc (opzionale)
# =========================
.idea/
.vscode/